body {
        background: url(/static/main.jpg) no-repeat center center fixed;
        background-size: cover;
}
input {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    width: auto;
    border: none;
    border-bottom: 1px solid #ffffff;
}
label {
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
}
hr {
    border: none; /* Убираем границу */
    background-color: #54a3a7; /* Цвет линии */
    color: #54a3a7; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}
.doc {
    /* background: #e0e0e0; */
}
.preview { 
    background: transparent;
    height: 270px;
    width: 100%;
    font: 35pt Trebuchet MS;
    color: 008080;
    line-height: 270px;
}
.contentblock {
    margin: auto;
    width: 800px;
    background: #18474d;
    opacity: 0.8;
}
.nav {
    margin-right: 0px;
    width: 800px;
    height: 45px;
    line-height: 43px;
    margin: auto;
}
ul.pages {
    margin: 0;
    padding: 0px;
    text-align: center;
}
ul.pages li {
    display: inline;
    margin-right: 0px;
    text-align: center;
    width: 150px;
    padding: 0px;
    color: #00BFFF;
    font: 14pt Trebuchet MS;
}
a.nav_button {
    opacity: 0.8;
    background: #F0F8FF;
    border-radius: 14px;
    font-family: Trebuchet MS;
    color: #007070;
    font-size: 17px;
    padding: 8px 37px 8px 37px;
    width: 50px;
    border: solid #007070 1px;
    text-decoration: none;
}

a.nav_button:hover {
    background: #9effff;
    text-decoration: none;
}

/* mainpage.html */
.newsblock {
}
.element {
    background: #18474d;
    color: #F8F8FF;
    padding-top: 20px;
    min-height: 225px;
    position: relative;
}
.time_and_author {
    text-align: right;
    margin-right: 15px;
    position: absolute;
    bottom: 2;
    right: 0;
}
.to_info {
    text-align: right;
    position: absolute;
    font-family: Trebuchet MS;
    bottom: 60px;
    right: 15px;
}
.headline {
    margin-top: 7px;
    font-size: 33px;
    text-decoration: none;
    color: #63c7cf;
    font-weight: bold;
    position: absolute;
    font-family: Trebuchet MS;
    top: 10px;
    left: 248px;
}
.main_image {
    height: 210px;
    width: 230px;
    margin-left: 20px;
    float: left;
}
.image {
    border: solid 2px #54a3a7;
}
.element_right {
    float: left;
}
.zip {
    margin-left: 50px;
    margin-bottom: 10px;
}
.main_text {
    margin-right: 20px;
    margin-top: 50px;
    width: 500px;
    height: auto;
    font-family: Trebuchet MS;
    /* text-indent: 2.5em; */
}
.clear {
    clear: left;
}
a.download_button {
    display: inline-block;
    border:1px solid #778899;
    color: gray;
    border-radius: 13px 13px 13px 13px;
    font-family: Trebuchet MS;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 6px 25px;
    background-image: linear-gradient(to top, #F0F8FF, #D3D3D3);
    background-color: #F8F8FF;
    text-decoration: none;
}
a.download_button:hover, a.download_button:active {
    border:1px solid #FFFFFF;
    color: gray;
    background-color: #FFFFFF;
}
a.btn-class {
    display: inline-block;
    border:1px solid #75f4fe;
    color: #008080;
    background-color: #80c8cb;
    border-radius: 10px 10px 10px 10px;
    font-family: Trebuchet MS;
    width: auto;
    height: auto;
    font-size: 17px;
    padding: 7px 11px;
    text-decoration: none;
}
a.btn-class:hover, .btn-class:active {
    color: #008080;
    background-color: #75f4fe;
}
.change_page {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 15px
}
a.description {
    background: #18474d;
    border-radius: 13px;
    font-family: Trebuchet MS;
    color: #75f4fe;
    padding: 6px 13px 8px 13px;
    border: solid #75f4fe 1px;
    text-decoration: none;
}

a.description:hover {
    background: #438b88;
    text-decoration: none;
}
/* projects.html */
.projects_content {
    margin-left: 12px;
    margin-right: 12px;
}
ul.project_list {
    width: auto;
    height: auto;
    padding-inline-start: 0px;
}
ul.project_list li {
    display: inline-block;
    margin: 11px;
}
/* project_info.html */
.project_info {
    width: 700px;
    height: auto;
    margin-left: 20px;
}
ul.chapters_in_projects {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}
ul{
    padding-inline-start: 0px;
}
ul.chapters_in_projects li {
    list-style-type: none;
    margin-bottom: 20px;
}
div.description {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;

}
/* news_info */
.news_info {
    color: #F8F8FF;
    padding-top: 20px;
    position: relative;
}
.news_chapters {
    margin-left: 275px;
    margin-top: 85px;
    padding-bottom: 10px;
}
.user_name{
    font-style: italic;
    font-family: Trebuchet MS;
    color: #ffffff;
    display: inline;
    margin-bottom: 5px;
}
.text_name_download {
    margin-right: 125px;
    margin-left: -7px;
    margin-top: 10px;
    font-size: 15pt;
    color: #F8F8FF;
    font-family: Trebuchet MS;
    font-style: italic;
}
.comments_to_show {
    font-family: Trebuchet MS;
    margin-top: 20px;
    margin-left: 15px;
    background: #18474d;
    color: #F8F8FF;
}
.time_and_author_info {
    text-align: right;
    margin-top: 50px;
    margin-right: 15px;
}
.headline_info {
    font-family: Trebuchet MS;
    font-size: 33px;
    text-decoration: none;
    color: #63c7cf;
    font-weight: bold;
    position: absolute;
    top: 17px;
    left: 263px;
}
.main_text_info {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 50px;
    width: 500px;
    height: auto;
    font-family: Trebuchet MS;
    /* text-indent: 2.5em; */
}
.text {
    margin-right: 125px;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 15pt;
    color: #F8F8FF;
    font-family: Trebuchet MS;
}
/* registration and auth*/
.registration_main {
    padding-bottom: 1px;
    padding-top: 30px;
}
.input_field {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
.exit {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}
