{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Manga</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link href="{% static 'base.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="doc">
            <div class="preview" align="center">
                Поле для JS
            </div>
            <div class="nav">
                <ul class="pages">
                    <li><a href="/">Main</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/team">Team</a></li>
                </ul>
            </div>
            <div class="contentblock">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
