{% extends "base.html" %}

{% block content %}
        <!-- <p>{{ news }}</p> -->
        {% for post in news %}
            <div class="element">
                <h3 align="center">{{ post.headline }}</h3>
                <p align="center">
                    <img src="{{ post.main_image.url }}" alt="image" width="300" height="200">
                </p>
                <p>{{ post.text }}</p>
                {% for zip_file in post.zip_file.all %}
                <p>
                    <a href="media/{{ zip_file.file_path }}">{{ zip_file.file_name }}</a>
                </p>
                {% endfor %}
                <div class="timeAndAuthor">
                    <p>{{ post.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
{% endblock content %}
