{% extends "base.html" %}

{% block content %}
    <div class="newsblock">
        {% for post in page_obj %}
            <div class="element">
                <div class="headline"><h2>
                    {{ post.headline }}
                </h2></div>
                <div class="main_image">
                    <img src="{{ post.image.url }}" alt="image" class="image" width="200" height="300">
                </div>
                <div class="element_right">
                    <div class="main_text">{{ post.text }}</div>
                    <div class="clear"></div>
                    <div class="zip">
                        <h4>Скачать:</h4>
                        {% for zip_file in post.zip_file.all %}
                        <p>
                            <a href="media/{{ zip_file.path }}" class="download_button">{{ zip_file.name }}</a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="timeAndAuthor">
                    <p>Автор: {{ post.user }} | Опубликовано: {{ post.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for i in paginator.page_range %}
        <a href="{{ i }}" style="font-size: 18pt; padding-left: 15px;">{{ i }}</a>
    {% endfor %}
{% endblock content %}
