{% extends "base.html" %}

{% block content %}
    <div class="project_info">
        <p>Название проекта: {{ project.name }}</p>
        Описание:
        <div class="description">{{ project.description }}</div>
        <p> Автор: {{ project.author }} </p>
        <p> Жанры: {{ project.genres }} </p>
        <p><img src="/media/{{ project.image }}" alt="image" class="image" width="250" height="250"></p>
        <p>
            Над проектом работали:
            {% for staff in project.staff_name.all %}
                | {{ staff }} 
            {% endfor %}
        </p>
        <div class="chapters">
            <ul class="chapters_in_projects">
                {% for zip_file in project.file_set.all %}
                    <li><a href="/media/{{ zip_file.path }}" class="description">{{ zip_file.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}